h1 {
    color: black;
    font-family: helvetica;
    margin-top: 10px;

}

body {
    text-align: center;
    background-color: lightslategrey;
}

p {
    font-size: large;
    color: black;
    padding: 5px;
    font-family: helvetica;

}

div {
    font-family: helvetica;
}

input[type=text] {
    background-color: aliceblue;
}

textarea {
    background-color: aliceblue;
}

