h1 {
    color: black;
    font-size: large;
}

body {
    text-align: center;
    background-color: antiquewhite;
}

p {
    font-size: large;
    color: red;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}